body {
	margin; 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header, footer {
	border-top: 1px solid #CCCCCC;
}

footer {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer span {
	color: white;
}

main {
	margin-bottom: 60px;
}
